{% extends "room/couch.html" %}

{% load static %}

{% block content %}

<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>

<div id="f" style="background: #1a1a1a;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 centered">
        <h4 style="text-align: left; margin-top: 10%; ">hello, i'm carl. i like it simple, and minimal.</h4>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
      </div>
      <!-- INTRO INFORMATIO-->
    </div>

    <!-- <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h5 style="text-align: center;">check my sample works.</h5>
      </div>
      <div class="col-md-4"></div>
    </div> -->
  </div>
  <!-- /container -->
</div>
<!-- /f -->

{% endblock content %}